.Footer {
  background-color: rgb(27, 116, 158);
  color: #fff;
}

.footer-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  justify-content: center;
  align-items: stretch;
  text-align: center;
}

.grid-control {
  display: flex;
  align-items: center;
  text-align: left;
  padding: 1rem;
  gap: 1rem;
  font-weight: 300;
}

.grid-control .logo-section {
  height: 7rem;
  width: 10%;
  text-align: center;
}

.grid-control .logo-section img {
  height: 100%;
  object-fit: contain;
  border-radius: 50%;
}

.grid-control h3 {
  font-size: 3rem;
  text-align: right;
  width: 100%;
}

.grid-control .footer-icon {
  font-size: 3rem;
  margin: 0 2rem;
}

.sitemaps {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  padding: 1rem;
  font-weight: 300;
}

.sitemaps > p > a,
.social-media a .footer-icon {
  color: #fff;
  padding: 1rem 0;
}

.sitemaps > p > a:hover,
.social-media p:hover {
  text-decoration: underline;
}

.social-media p > a {
  color: #fff;
}

.copy-right {
  color: #fff;
  font-size: 1.5rem;
  background-color: black;
  text-align: center;
  padding: 1rem;
}

@media screen and (max-width: 768px) {
  .footer-grid-container {
    display: block;
  }

  .grid-control .logo-section {
    height: 5rem;
    width: 7%;
  }

  .grid-control h3 {
    width: unset;
    margin-left: 2rem;
  }

  .grid-control .footer-icon {
    font-size: 2rem;
    margin: 0 0.5rem;
  }

  .grid-control {
    padding: 0.5rem;
    gap: 0.5rem;
  }

  .sitemaps {
    text-align: left;
  }
}
