.services-section {
  margin-top: 0.2rem;
  background-color: rgb(27, 116, 158);
  color: #fff;
  text-align: center;
}

.services-section .services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 1rem;
}


