.single-plan-top {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
  align-items: flex-start;
}

.plan-top-left {
  position: relative;
  padding: 0.5rem;
  height: 52rem;
  width: 99%;
  margin: 0 auto;
  overflow: hidden;
}

/* .plan-top-left .slide {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.plan-top-left .slide.active {
  opacity: 1;
  transition: opacity 0.5s ease;
  transform: scale(1.05);
  width: 100%;
  height: 100%;
}

.plan-top-left .slide.active .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.plan-top-right {
  padding: 1rem;
  display: grid;
  justify-content: center;
}

.plan-top-right h3 {
  padding: 0.5rem;
  text-align: center;
  font-weight: 600;
}

.plan-top-right p {
  text-align: justify;
  font-weight: 400;
}

.plan-top-right h4 {
  text-align: center;
}

.plan-top-right table {
  text-align: center;
  font-weight: 400;
  border: 1px solid rgba(128, 128, 128, 0.3);
  margin: 1rem;
  border-collapse: collapse;
}

.plan-top-right table th {
  padding: 1rem;
  text-align: left;
  border: 1px solid rgba(128, 128, 128, 0.3);
  background-color: rgba(128, 128, 128, 0.4);
}

.plan-top-right table td {
  padding: 1rem;
  text-align: left;
  border: 1px solid rgba(128, 128, 128, 0.3);
  text-transform: capitalize;
}

.plan-top-right table td.format {
  text-transform: uppercase;
}

.plan-top-right .prices {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.plan-top-right .prices span {
  padding: 0.5rem;
  cursor: pointer;
  color: var(--main-color);
}

.plan-top-right .prices span:hover {
  text-decoration: underline;
  text-decoration-color: var(--main-color);
}

.single-plan-middle .features {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
  background-color: rgba(128, 128, 128, 0.1);
  flex-wrap: wrap;
}

.single-plan-middle .features .feature {
  margin: 0.5rem;
}

.single-plan-middle .features .feature i.fas {
  color: var(--main-color);
}

.order-options {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 1rem 2rem;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: rgba(128, 128, 128, 0.1);
}

.order-options .order-option {
  border: 1px solid rgba(128, 128, 128, 0.3);
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: transform 300ms ease;
  font-size: 1.5rem;
}

.order-options .order-option:hover {
  transform: scale(1.1);
}

.order-options .order-option .option-title {
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  color: var(--main-color);
}

.order-options .order-option .option-desc h4 {
  text-align: center;
  padding: 0.2rem;
}

.order-options .order-option .option-desc div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0.2rem;
}

.order-options .order-option .option-desc div > i.fas.fa-check {
  color: green;
}

.order-options .order-option .option-desc div > i.fas.fa-times {
  color: red;
}

.order-options .order-option .option-select .btn {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid var(--main-color);
  color: #fff;
  background-color: var(--main-color);
  margin-top: 0.5rem;
  cursor: pointer;
}

.gold-order {
  position: fixed;
  top: 0rem;
  left: 0rem;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: grid;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

.gold-order .contact-us {
  background-color: #fff;
  padding: 2rem;
  width: max-content;
  border-radius: 0.5rem;
}

.gold-order .contact-us h2 {
  text-align: center;
}

.relatedProducts,
.relatedProducts h3 {
  padding: 1rem;
}

@media screen and (max-width: 1000px) {
  .single-plan-top {
    display: block;
    padding: 0.5rem;
    text-align-last: left;
  }

  .plan-top-left {
    height: 100vh;
  }
}

@media screen and (max-width: 768px) {
  .features i.fa-home,
  .features i.fa-calendar-alt,
  .features i.fa-ruler-horizontal,
  .features i.fa-ruler-vertical,
  .features i.fa-ruler-combined {
    font-size: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .plan-top-left {
    height: 50vh;
  }
}

@media screen and (max-width: 480px) {
  .single-plan-middle .features .feature i.fas {
    font-size: 2.5rem;
  }

  .single-plan-middle .features .feature {
    font-size: 1.2rem;
  }

  .order-options {
    display: block;
  }

  .gold-order {
    align-items: start;
  }

  .gold-order .contact-us {
    width: 90vw;
    margin: 3rem auto 0;
  }
}
